{% extends "base.html" %}

{% block title %}User Profile: {{ user.username }}{% endblock %}
{% block heading %}User Profile: {{ user.username }}{% endblock %}


{% block body %}
<h1>Your Profile</h1>

<p>
{% if user.profile.maintainer_projects.count %}
Maintainer of
{% for project in user.profile.maintainer_projects.all %}
<a href="{% url 'patch_list' project_id=project.linkname %}"
>{{ project.linkname }}</a>{% if not forloop.last %},{% endif %}{% endfor %}.
{% endif %}

{% if user.profile.contributor_projects.count %}
Contributor to
{% for project in user.profile.contributor_projects.all %}
<a href="{% url 'patch_list' project_id=project.linkname %}"
>{{ project.linkname }}</a>{% if not forloop.last %},{% endif %}{% endfor %}.
{% endif %}
</p>

<div class="leftcol">
<div class="box">
 <h2>Todo</h2>
{% if user.profile.n_todo %}
 <p>Your <a href="{% url 'todo_list' %}">todo
  list</a> contains {{ user.profile.n_todo }}
  item{{ user.profile.n_todo|pluralize:"s" }}.</p>
{% else %}
 <p>Your todo list contains patches and series that have been assigned to you.
    You have no items in your todo list at present.</p>
{% endif %}
</div>

<div class="box">
<h2>Linked email addresses</h2>
<p>The following email addresses are associated with this Patchwork account.
Adding alternative addresses allows Patchwork to group contributions that
you have made under different addresses.</p>
<p>The "notify?" column allows you to opt-in or -out of automated
Patchwork notification emails. Setting it to "no" will disable automated
notifications for that address.</p>
<p>Adding a new email address will send a confirmation email to that
address.</p>
<table class="vertical">
 <tr>
  <th>email</th>
  <th>action</th>
  <th>notify?</th>
 </tr>
{% for email in linked_emails %}
 <tr>
  <td>{{ email.email }}</td>
  <td>
  {% if user.email != email.email %}
   <form action="{% url 'user_unlink' person_id=email.id %}"
    method="post">
    {% csrf_token %}
    <input type="submit" value="Unlink"/>
   </form>
    {% endif %}
  </td>
  <td>
   {% if email.is_optout %}
   <form method="post" action="{% url 'mail_optin' %}">
    No,
     {% csrf_token %}
     <input type="hidden" name="email" value="{{email.email}}"/>
     <input type="submit" value="Opt-in"/>
    </form>
   {% else %}
    <form method="post" action="{% url 'mail_optout' %}">
    Yes,
     {% csrf_token %}
     <input type="hidden" name="email" value="{{email.email}}"/>
     <input type="submit" value="Opt-out"/>
    </form>
   {% endif %}
  </td>
 </tr>
{% endfor %}
 <tr>
  <td colspan="3">
   <form action="{% url 'user_link' %}" method="post">
    {% csrf_token %}
    {{ linkform.email }}
    <input type="submit" value="Add"/>
   </form>
  </td>
 </tr>
</table>
</div>
</div>

<div class="rightcol">

<div class="box">
<h2>Bundles</h2>

{% if bundles %}
<p>You have the following bundle{{ bundle|length|pluralize }}:</p>
<ul>
{% for bundle in bundles %}
 <li><a href="{{ bundle.get_absolute_url }}">{{ bundle.name }}</a></li>
{% endfor %}
</ul>
<p>Visit the <a href="{%url 'bundle_list' %}">bundles
 page</a> to manage your bundles.</p>
{% else %}
<p>You have no bundles.</p>
{% endif %}
</div>


<div class="box">
<h2>Settings</h2>

<form method="post">
 {% csrf_token %}
 <table class="form">
{{ profileform }}
  <tr>
   <td></td>
   <td>
    <input type="submit" value="Apply"/>
   </td>
  </tr>
 </table>
</form>
</div>

<div class="box">
<h2>Authentication</h2>
<a href="{% url 'password_change' %}">Change password</a>
</div>

</div>

<p style="clear: both"></p>

{% endblock %}
