{% extends "base.html" %}

{% block title %}Registration{% endblock %}
{% block heading %}Registration{% endblock %}


{% block body %}

{% if confirmation and not error %}
 <p>Registration successful!</p>
 <p>A confirmation email has been sent to {{ confirmation.email }}. You'll
 need to visit the link provided in that email to confirm your
 registration.</p>
</p>
{% else %}
<p>By creating a Patchwork account, you can:<p>
<ul>
 <li>create "bundles" of patches</li>
 <li>update the state of your own patches</li>
</ul>
<form method="post">
{% csrf_token %}
<table class="form registerform">
 <tr>
  <th colspan="2" class="headerrow">register</th>
 </tr>
 {% if error %}
  <tr>
   <td colspan="2">{{ error }}</td>
  </tr>
 {% endif %}

  <tr>
   <td>{{ form.first_name.label_tag }}</td>
   <td>
{% if form.first_name.errors %}
    {{ form.first_name.errors }}
{% endif %}
    {{ form.first_name }}
{% if form.first_name.help_text %}
    <div class="help_text"/>{{ form.first_name.help_text }}</div>
{% endif %}
   </td>
  </tr>
   
  <tr>
   <td>{{ form.last_name.label_tag }}</td>
   <td>
{% if form.last_name.errors %}
    {{ form.last_name.errors }}
{% endif %}
    {{ form.last_name }}
{% if form.last_name.help_text %}
    <div class="help_text"/>{{ form.last_name.help_text }}</div>
{% endif %}
   </td>
  </tr>

  <tr>
   <td></td>
   <td class="form-help">
    Your name is used to identify you on the site
   </td>
  </tr>

  <tr>
   <td>{{ form.email.label_tag }}</td>
   <td>
{% if form.email.errors %}
    {{ form.email.errors }}
{% endif %}
    {{ form.email }}
{% if form.email.help_text %}
    <div class="help_text"/>{{ form.email.help_text }}</div>
{% endif %}
   </td>
  </tr>

  <tr>
   <td></td>
   <td class="form-help">
    Patchwork will send a confirmation email to this address
   </td>
  </tr>

  <tr>
   <td>{{ form.username.label_tag }}</td>
   <td>
{% if form.username.errors %}
    {{ form.username.errors }}
{% endif %}
    {{ form.username }}
{% if form.username.help_text %}
    <div class="help_text"/>{{ form.username.help_text }}</div>
{% endif %}
   </td>
  </tr>

  <tr>
   <td>{{ form.password.label_tag }}</td>
   <td>
{% if form.password.errors %}
    {{ form.password.errors }}
{% endif %}
    {{ form.password }}
{% if form.password.help_text %}
    <div class="help_text"/>{{ form.password.help_text }}</div>
{% endif %}
   </td>
  </tr>

  <tr>
    <td><a href="http://bladerunner.wikia.com/wiki/Voight-Kampff_machine"
        >Voight-Kampff test:</a></td>
    <td>{{ form.captcha }}</td>
  </tr>

   <tr>
  <td colspan="2" class="submitrow">
   <input type="submit" value="Register"/>
  </td>
 </tr>
</table>
</form>
{% endif %}

{% endblock %}
