{% extends "base.html" %}

{% load static %}
{% load person %}

{% block title %}{{ user }}'s todo list{% endblock %}

{% block headers_prepatchwork %}
{% include "patchwork/series-list-templates.html" %}
<script type="text/javascript" src="{% static "js/mustache.min.js" %}"></script>
{% endblock %}

{% block headers %}
<script language="JavaScript" type="text/javascript">
$(function () {
    var series = pw.setup_series_list('#serieslist', '/series/', {
        project: pw.project.pk,
        reviewer: pw.user.pk,
        state: 'initial,in progress,incomplete',
    });
    /* initial load */
    series.refresh();
});
</script>
{% endblock %}

{% block body %}
<h1>TODO</h1>

<p>The Patchwork TODO-list contains patches and series that are assigned to you
   and need your attention. </p>

{% if n_series %}
<h2>Series</h2>

{% include "patchwork/series-list-table.html" %}
{% endif %}

{% if n_patches %}
<h2>Patches</h2>

{% include "patchwork/patch-list.html" %}
{% endif %}

{% endblock %}
